<h1>Ricochet</h1>
<p>A Translator for HTTP Requests</p>

<h2>Example</h2>


<div class="">
  <h3>Sent</h3>
  <h4><pre>GET http://ricochet.link/?method=post&uri=http://reqr.es/api/users
</div>
<div class="">
  <h3>Sent from Ricochet</h3>
  <h4><pre>POST http://reqr.es/api/users</pre></h4>

  
</div>
<div class="">
  <h3>Got from server</h3>
</div>