<h1>Ricochet</h1>
<p>A Translator for HTTP Requests</p>

<h2>Example</h2>

<div class="">
  <h3><pre>GET <a href='http://ricochet.link/?method=post&name=jesse&age=26&uri=http://reqr.es/api/users'>http://ricochet.link/?method=post&name=jesse&age=26&uri=http://reqr.es/api/users</a></pre></h3>
  Will make a POST request to http://reqr.es/api/users with these form parameters:
<pre>
{
  name: "jesse",
  age: 26
}
</pre>
</div>